/* Eleva  */
#card-container.card-found .jp-card-container .jp-card .jp-card-front,
#card-container.card-found .jp-card-container .jp-card .jp-card-back {
  background-color: #00806f; }

@media screen and (min-width: 900px) {
  .panel-order {
    background-color: #00806f; }
    .panel-order:before {
      background-color: #008f7c; }
    .panel-order::after {
      background: #007162; }
    .panel-order .title.is-theme {
      color: white; } }

.wizard-item:after {
  background: #b3b3b3; }

.wizard-item.is-active .item > span {
  background: #00806f;
  border: 2px solid #00806f;
  color: white; }

.wizard-item.is-active .description {
  color: #00806f; }

.wizard-item.is-active:after {
  background: #00806f; }

.wizard-item.is-complete .item > span {
  background: #00806f;
  border: 2px solid #00806f;
  color: #00806f; }
  .wizard-item.is-complete .item > span:after {
    color: white; }

.wizard-item.is-complete .description {
  color: #00806f; }

.wizard-item.is-complete:after {
  background: #00806f; }

.wizard-desktop .wizard-item.is-active {
  border-bottom: 3px solid #00806f; }
  .wizard-desktop .wizard-item.is-active .item > span {
    color: #00806f;
    background-color: white; }

.wizard-desktop .wizard-item:after {
  background: none; }

@media screen and (min-width: 900px) {
  .box {
    color: white; } }

.box-title a.box-link {
  color: white; }

.button {
  background-color: #00806f;
  border-color: #00806f;
  color: white;
  box-shadow: 2px 2px 0px #004d43; }
  .button:hover {
    background-color: #006759;
    border-color: #007364;
    color: white; }
  .button:focus {
    border-color: #00806f;
    box-shadow: 0 0 0.5em rgba(0, 128, 111, 0.25); }
  .button:active {
    border-color: #00806f;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2); }
  .button.active {
    border-color: #00806f;
    background-color: #00806f;
    color: white; }
  .button.is-success {
    background-color: #08a054;
    border-color: #08a054;
    box-shadow: 2px 2px 0px #066f3b;
    color: white; }
    .button.is-success:hover {
      background-color: #078847;
      border-color: #07944e; }
  .button-payment {
    background: white;
    border-color: #b3b3b3;
    color: #b3b3b3; }
    .button-payment:visited, .button-payment:focus {
      border-color: #b3b3b3; }
  .button-navigation {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: #7d7d7d;
    outline-color: transparent;
    text-decoration-color: transparent; }
    .button-navigation:hover, .button-navigation:active, .button-navigation:focus, .button-navigation:hover {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
      color: #4a4a4a;
      outline-color: transparent;
      text-decoration-color: transparent; }
  .button.not-box-shadow {
    box-shadow: none; }
  .button-group-payment.button-group {
    background: transparent; }

.form-control input:focus ~ .form-control-indicator {
  background-color: #00806f; }

.form-control input:checked ~ .form-control-indicator {
  background-color: #00806f; }

.form-control input:checked:focus ~ .form-control-indicator {
  background-color: #007364; }

.form-control:hover input ~ .form-control-indicator {
  background: #00806f; }

.form-control:hover input:not([disabled]):checked ~ .form-control-indicator {
  background-color: #007364; }

.form-control-indicator {
  background: white;
  border: 2px solid #00806f; }

.boleto-info label {
  color: #00806f; }

.boleto-info p {
  color: #7d7d7d; }

.credit_card .success-status {
  color: #b3b3b3; }

.credit_card .total-value {
  color: #4CAF50; }

.credit_card .email-sent {
  color: #b3b3b3; }
  .credit_card .email-sent span {
    color: #00806f; }

.credit_card .redirect-store {
  color: #b3b3b3; }
  .credit_card .redirect-store strong {
    color: #00806f; }

.total-compra {
  color: white;
  background: #00806f; }
  @media screen and (min-width: 900px) {
    .total-compra {
      color: #00806f;
      background: white; } }

.content-error .bad-face {
  color: #00806f; }

.content-error .title {
  color: #7d7d7d; }

.content-error .subtitle {
  color: #7d7d7d; }

.content-error .info {
  color: #7d7d7d; }

.notification code,
.notification pre {
  background: white; }

.notification pre code {
  background: transparent; }

.notification .delete {
  color: white; }

.notification.is-theme {
  background-color: #00806f;
  color: white; }

.notification.is-error {
  background-color: #d41f12;
  color: white; }

.notification.is-success {
  background-color: #4CAF50;
  color: #383838; }

.notification.is-warning {
  background-color: #FF963B;
  color: #383838; }

.boleto .button {
  background: #08a054;
  border-color: #08a054;
  box-shadow: 2px 2px 0px #078847; }
  .boleto .button:hover {
    background: #09b861; }

@media screen and (max-width: 899px) {
  .card-table tbody > tr:nth-of-type(odd) {
    background: whitesmoke; }
  .card-table td:before {
    color: #00806f; } }

@media screen and (min-width: 900px) {
  .table-order tbody tr {
    border-top: 10px solid #00806f; } }

.table-order th {
  color: #00806f; }
  @media screen and (min-width: 900px) {
    .table-order th {
      color: white; } }

.table-order td {
  border-top: 1px solid #b3b3b3;
  color: #7d7d7d; }
  @media screen and (min-width: 900px) {
    .table-order td {
      color: white;
      background-color: #009a85; } }
  .table-order td.td-colspan {
    background-color: #b3b3b3;
    border-top: 4px solid white; }
    @media screen and (min-width: 900px) {
      .table-order td.td-colspan {
        background-color: #009a85; } }
    .table-order td.td-colspan > a {
      color: white; }

.table-footer {
  background-color: whitesmoke; }
  @media screen and (min-width: 900px) {
    .table-footer {
      background-color: #00b39b; } }
  @media screen and (min-width: 900px) {
    .table-footer td {
      color: white;
      border-bottom: 10px solid #00806f; } }

.multi-payments-panel .method-display {
  background-color: #00806f; }

.credit-card-and-boleto-flag {
  background-color: #08a054;
  color: white; }
